:root {
  --primary-white: #fff;
  --primary-orange: #ff4500;
  --primary-dark: rgb(255, 255, 255, 0);
  --primary-red: crimson;
}


/***********************NAV BAR*****************************************************/


  
  
  /*********************END NAVBAR LINKS**************************************************/

    /*********************Transcibe section**************************************************/

.transcribe{
  position: relative;
  /*background-color: lightseagreen;*/
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  padding-top: 20%;
    
  }
  .form-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .transcribe-form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-color: limegreen;*/
    

  }

  .transcript-wraper {
    height: 80vh;
    margin-top: 30%;
    
  }

    /*********************END Transcibe section**************************************************/