{% extends "base.html" %}
{%block title%} Home {%endblock%} 

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 transcript-wraper">

            <h3 class="text-center">Transcript of <span>{{filename}} </span></h3>            
        </div>        
    </div>
    
 <div class="transcript">
    {% if len == 0 %}
	<h3>{{error}} </h3>
    
    {% else %}
        {%for i in range(0, len)%}
    
        <h5 class="text-center">{{transcript[i]}}</h5>
        {%endfor%}
        
    {% endif %}
 </div>

    
</div>
{% endblock%}